/* Dash / Dash To Dock */

#dash {
  /* margin: 0;
  padding: 0; */
}

#dash .dash-item-container .overview-tile,
#dash .dash-item-container .show-apps,
#dash .dash-item-container .grid-search-result {
}     

#dash .dash-item-container .overview-tile:hover .overview-icon,
#dash .dash-item-container .show-apps:hover .overview-icon,
#dash .dash-item-container .grid-search-result:hover .overview-icon{
  background-color: transparent;
}

#dash .dash-item-container .overview-tile:focus .overview-icon,
#dash .dash-item-container .show-apps:focus .overview-icon,
#dash .dash-item-container .grid-search-result:focus .overview-icon {
  background-color: transparent;
}

#dash .dash-item-container .overview-icon {
  padding: 4px 0;
}

.app-grid-running-dot {
  height: 4px;
  width: 4px;
}



#dash .dash-background {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 0;
  background: rgba(30,30,30,0.8);
  /* border-radius: 100px; */
}



/* Top Panel */

#panel .panel-button {
  
}

.clock-display {
  font-weight: bold;
}

/* Right Side Icons */
.panel-status-indicators-box .power-status {  }