/* Dash / Dash To Dock */

#dash {
  margin: 0 !important;
  padding: 0 !important;
}

#dash .dash-item-container .overview-tile,
#dash .dash-item-container .show-apps,
#dash .dash-item-container .grid-search-result {
  margin: 0 !important;
  padding: 0 !important;
}     

#dash .dash-item-container .overview-tile:hover .overview-icon,
#dash .dash-item-container .show-apps:hover .overview-icon,
#dash .dash-item-container .grid-search-result:hover .overview-icon{
  background-color: transparent !important;
}

#dash .dash-item-container .overview-tile:focus .overview-icon,
#dash .dash-item-container .show-apps:focus .overview-icon,
#dash .dash-item-container .grid-search-result:focus .overview-icon {
  background-color: transparent !important;
}

#dash .dash-item-container .overview-icon {
  padding: 2px 0 !important;
}


/* 
#dash .dash-background {
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  background: rgba(50,50,50,0.7);
  border-radius: 0 !important;
}*/



/* Top Panel */

/* Top Panel - Power etc */
.panel-status-indicators-box .privacy-indicator {
  margin-left: 24px;
}

.clock-display {
  font-weight: bold;
}
.panel-status-indicators-box .power-status {
  margin-right: 10px;
}

#panel StLabel {
	font-weight: bold;
}
